body {
    margin:0;
    height:100vh;
    background:radial-gradient(circle,#1a001f,#000);
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}


/* звёзды */

#stars {
    position:fixed;
    width:100%;
    height:100%;
    background-image:radial-gradient(white 2px,transparent 2px);
    background-size:45px 45px;
    opacity:.7;
}


/* первый экран */

.container {
    text-align:center;
    z-index:2;
    animation: fadeIn 1s;
}


h1 {
    color:#ff4d88;
}


.text {

    font-size:18px;
    opacity:0;
    animation:appear 1.5s forwards;

}


.text:nth-of-type(1){
    animation-delay:0s;
}


.text:nth-of-type(2){
    animation-delay:.8s;
}


.text:nth-of-type(3){
    animation-delay:1.6s;
}



button {

    background:#ff4d88;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:30px;

}


/* палец */

#finger {

    display:none;
    text-align:center;
    z-index:5;

    animation:fadeIn .8s;

}


#finger h2 {
    color:#ff4d88;
}



/* глаза */

#gallery {

    display:none;
    text-align:center;
    z-index:5;

    animation:fadeIn .8s;

}


#gallery p {

    color:#ff4d88;
    font-size:20px;

}


.eyes {

display:flex;
flex-direction:column;
align-items:center;
gap:10px;

}


.eyes img {

width:220px;
height:140px;

object-fit:contain;

border:4px solid #ff4d88;

box-shadow:0 0 20px #ff4d88;

}


/* сердечки */

#hearts {

position:fixed;
width:100%;
height:100%;
pointer-events:none;
z-index:10;

}


.heart {

position:absolute;
font-size:25px;
animation:float 4s linear;

}



@keyframes float {

from {

transform:translateY(100vh);
opacity:1;

}

to {

transform:translateY(-10vh);
opacity:0;

}

}



/* анимации */

@keyframes appear {

from {

opacity:0;
transform:translateY(20px);

}


to {

opacity:1;
transform:translateY(0);

}

}



@keyframes fadeIn {

from {

opacity:0;
transform:scale(.9);

}

to {

opacity:1;
transform:scale(1);

}

}
.container {
    display: block;
}


#finger {
    display: none;
}


#gallery {
    display: none;
}
#compliments {

display:none;
text-align:center;
z-index:5;

}


#words {

position:relative;
height:300px;
overflow:hidden;

}


.word {

position:absolute;
color:#ff4d88;
font-size:25px;
animation:wordFly 3s linear forwards;

}


@keyframes wordFly {

from {

opacity:0;
transform:translateY(200px) scale(.5);

}


to {

opacity:1;
transform:translateY(-200px) scale(1.2);

}

}
